body{
  margin: 0px;
  padding: 0px;
  background-image:url(pink sunset.jpg)
  background-size:cover;
  font-family: sans-serif;
}
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: white;
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding:70px 30px;
}
.Avatar{
  width: 100px;
  height: 100px;
  border-radius:50%;
  top:-50px;
  left:calc(50% - 50px);
  position:absolute;
}
h1{
  margin:0px;
  padding:0 0 20px;
  text-align:center;
  font-size: 22px;

}
.loginbox p{
  margin: 1;
  padding: 0;
  font-weight:bold;
}
.loginbox input{
  width:100%;
  margin-bottom: 20px;
}
.loginbox input[type='text'], input[type='password']{
  border:none;
  border-bottom : 1px solid white;
  background: transparent;
  outline:none;
  height:40%;
  color:white;
  font-size:16px;
}
.loginbox input[type=submit]{
  border:none;
  outline:none;
  height:40px;
  background:red;
  color:white;
  font-size:150%;
  border-radius:100px;
  text-decoration: none;

}
.loginbox input[type=submit]:hover{
  background-color: green;
  cursor:pointer;
  color:black;
}
.loginbox a{
  text-decoration:none;
  color:white;
  font-size:70%;
}
.loginbox a:hover{
  color:#ffc107;
  outline: inherit;
}
